@media screen and (max-width: 1025px) {
  .box-wrapper {
    width: 100%;
    min-height: 100vh;
    z-index: 33;
  }
  .info-product {
    margin-top: 7rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .company-name {
    width: 100%;
    font-size: 3rem;
  }
  .company-name-container {
    width: 25rem;
  }
  .product-name {
    width: 100%;
    font-size: 2.25rem;
    text-align: center;
  }
  .product-name-container {
    width: 25rem;
  }

  .product-price {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .cta-bttn-container {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoes-container {
    margin-top: 2rem;
    width: 60rem;
    margin-bottom: 0;
  }

  .info-product {
    margin: 0;
  }
}

@media screen and (min-width: 675px) {
  .desktop {
    display: block;
  }
}

@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 769px) {
  .shoes-container {
    width: 50rem;
    margin: 0;
  }

  .info-product {
    margin: 0;
  }

  .text-promo {
    text-align: center;
  }

  .text-promo h1 {
    width: 100%;
  }

  .para-promo,
  #promo-para-2 {
    margin-inline: auto;
  }

  #about-section-cta {
    margin-bottom: 2rem;
  }

  #promo-part-2 {
    display: none;
  }

  .promo-text-container {
    width: 70rem;
    text-align: center;
    height: 25rem;
  }
}

@media screen and (max-width: 426px) {
  .logo-container {
    display: none !important;
  }

  .shoes-container {
    position: absolute;
    width: 40rem;
    top: 15%;
  }
  .info-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 30rem;
    margin-top: -7rem;
  }
  .company-name-container {
    text-align: center;
  }

  .ball-5 {
    display: none !important;
  }

  .promo-text-container {
    width: 35rem;
    top: 40%;
  }
}

@media screen and (max-width: 321px) {
  .shoes-container {
    width: 32rem;
  }
}
