:root {
  --accent: #282828;
  --primary: #dddddd;
  --secondary: #1c1c1c;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Druk-wide;
  src: url(../fonts/Druk\ Wide\ Bold.woff);
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.woff);
}

@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas-Regular-webfont.woff);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy-Bold.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
}

.landing-section-mobile {
  background-color: var(--primary);
}

.header-part-1-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

.logo-mobile {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
}

.img-container-header-mobile {
  width: 80%;
}

.header-part-2-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.product-name-mobile {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 85%;
  text-align: center;
}

.price-container-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
